{% extends 'base.html' %}

{#основной контент: #}
{% block main %}
<h1>Создать новую инициативу</h1>

<!-- Добавляем блок для отображения flash сообщений -->
<div class="flash-messages">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="alerts">
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
</div>

<div class= form>
    <form method="POST" style="margin-bottom: 50px">
        <label for="title">Тема:</label>
        <input type="text" id="title" name="title" required>
        <br>
        <label for="content">Описание:</label>
        <textarea id="content" name="content" rows="5" required></textarea>
        <br>
        <button type="submit" class="button">Добавить инициативу</button>
    </form>
</div>
<br><br><br><br>
{% endblock %}